USE [master]
GO
/****** Object:  Database [KOSSDb]    Script Date: 2.12.2020 23:52:05 ******/
CREATE DATABASE [KOSSDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KOSSDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER02\MSSQL\DATA\KOSSDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KOSSDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER02\MSSQL\DATA\KOSSDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KOSSDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KOSSDb]
GO
/****** Object:  Table [dbo].[dolaplar]    Script Date: 2.12.2020 23:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dolaplar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[adi] [varchar](30) NULL,
 CONSTRAINT [PK_dolaplar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[emanetler]    Script Date: 2.12.2020 23:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[emanetler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kitapId] [int] NULL,
	[okuyucuId] [int] NULL,
	[emanetVerilisTarihi] [date] NULL,
	[EmanetGeriAlmaTarihi] [date] NULL,
	[emanetIslemTarihi] [date] NULL,
	[durum] [int] NULL,
	[aktif] [int] NULL,
 CONSTRAINT [PK_emanetler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kitaplar]    Script Date: 2.12.2020 23:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kitaplar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kayitNo] [int] NULL,
	[KitapAdi] [varchar](30) NULL,
	[yazarAdi] [varchar](30) NULL,
	[yayinevi] [varchar](30) NULL,
	[basimYili] [varchar](10) NULL,
	[sayfaSayisi] [varchar](10) NULL,
	[tur] [varchar](30) NULL,
	[aciklama] [varchar](250) NULL,
	[dolap] [varchar](30) NULL,
	[raf] [varchar](10) NULL,
	[sira] [varchar](10) NULL,
	[durum] [int] NULL,
	[aktif] [int] NULL,
 CONSTRAINT [PK_kitaplar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kullanicilar]    Script Date: 2.12.2020 23:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kullanicilar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[adi] [varchar](20) NULL,
	[soyadi] [varchar](20) NULL,
	[kullaniciAdi] [varchar](20) NULL,
	[sifre] [varchar](20) NULL,
	[aktif] [int] NULL,
 CONSTRAINT [PK_kullanicilar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[okuyucular]    Script Date: 2.12.2020 23:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[okuyucular](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[adi] [varchar](30) NULL,
	[soyadi] [varchar](30) NULL,
	[cinsiyeti] [varchar](10) NULL,
	[tc] [varchar](15) NULL,
	[cepTel] [varchar](20) NULL,
	[adres] [varchar](250) NULL,
	[aktif] [int] NULL,
 CONSTRAINT [PK_okuyucular] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[türler]    Script Date: 2.12.2020 23:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[türler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[adi] [varchar](30) NULL,
 CONSTRAINT [PK_türler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[yayinevleri]    Script Date: 2.12.2020 23:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yayinevleri](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[adi] [varchar](30) NULL,
 CONSTRAINT [PK_yayinevleri] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[yazarlar]    Script Date: 2.12.2020 23:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yazarlar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[adi] [varchar](30) NULL,
 CONSTRAINT [PK_yazarlar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[emanetler] ADD  CONSTRAINT [DF_emanetler_durum]  DEFAULT ((0)) FOR [durum]
GO
ALTER TABLE [dbo].[emanetler] ADD  CONSTRAINT [DF_emanetler_aktif]  DEFAULT ((1)) FOR [aktif]
GO
ALTER TABLE [dbo].[kitaplar] ADD  CONSTRAINT [DF_kitaplar_durum]  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[kitaplar] ADD  CONSTRAINT [DF_kitaplar_aktif]  DEFAULT ((1)) FOR [aktif]
GO
ALTER TABLE [dbo].[kullanicilar] ADD  CONSTRAINT [DF_kullanicilar_aktif]  DEFAULT ((1)) FOR [aktif]
GO
ALTER TABLE [dbo].[okuyucular] ADD  CONSTRAINT [DF_okuyucular_aktif]  DEFAULT ((1)) FOR [aktif]
GO
USE [master]
GO
